SUBSYSTEM=="firewire", ACTION=="add", ENV{ID_FFADO}="1", RUN+="/usr/bin/systemctl start jack-resume@dmage"
SUBSYSTEM=="firewire", ACTION=="remove", ENV{ID_FFADO}="1", RUN+="/usr/bin/systemctl start jack-suspend@dmage"
