[Unit]
Description=JACK suspend actions
Before=sleep.target

[Service]
User=%I
Type=oneshot
ExecStart=/usr/local/bin/jack-suspend

[Install]
WantedBy=sleep.target
