[Unit]
Description=JACK resume actions
After=suspend.target hibernate.target

[Service]
User=%I
Type=simple
ExecStart=/usr/local/bin/jack-resume

[Install]
WantedBy=suspend.target hibernate.target
